@model IEnumerable<BangazonWorkforceMVC.Models.ViewModels.ComputerEmployeeViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.DecomissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.DecomissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.Computer.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Computer.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
