@model IEnumerable<BangazonWorkforceMVC.Models.TrainingProgram>

@{
    ViewData["Title"] = "Index";
}

<h1>Training Program Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="View Past"><input type="submit" name="viewpast" value="Toggle Past/Present Programs" class="btn btn-primary" /></div>
</p>
<div class="future">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxAttendees)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.StartDate > DateTime.Now)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxAttendees)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="past">
    <table class="table">
        <thead>
            
            
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.StartDate < DateTime.Now)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                        <td>

                            @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@

                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>


